#wrapper{
    width:100%;

}

.header{
    width:100%;
    height:3.5em;
    background-color: #f2f2f2;

}

.header ul{
    list-style: none;
    height:100%;
    margin:0;
    padding:0;
}

.header ul li{
    display: inline-block;
    line-height:2.5em;
}

.header ul li a{
    height:100%;
    width:100%;
    color:#28a745;
    font-weight: bold;
}

.header ul li a:hover{
    color:#fff;
    background-color: #28a745;
}

.header ul li .linklogin{
    color:#fff;
    font-weight: normal;
}

.header .left{
    display: inline-block;
    padding-left:1em;
}

.header .right{
    float:right;
    display: inline-block;
    padding-right:1em;
    padding-top:0.4em;
}

.header .right p{
    padding-right:1em;
}

.content{
    min-width: 40em;
    width: 100%;
    max-width:80em;
    margin: 0 auto;
    padding:1em;
}

.content h1{
    font-size: 1.8em;
}

.cats{
    width:100%;
    margin-bottom:2em;
}

.cats a{
    display: inline-block;
    width:33%;
    text-align: center;
    font-size: 1.25em;
    padding:0.2em 0;
    color:#28a745;
}

.cats a:hover{
    text-decoration: none;
    cursor:hand;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.jobs{
    width:100%;
}

.jobs div{
    display: inline-block;
    width:100%;
}

.jobs h2{
    font-size: 1.4em;
    margin:0;
    padding:0 0.8em ;
}

.jobs a{
    display: block;
    color:#28a745;
}

.jobs a:hover {
    text-decoration: none;
    cursor:hand;
    color:#23903c;
}

.jobs p{
    display: block;
    font-size: 1em;
    padding:0 1.2em ;
}

.job h3{
    display: block;
    font-size: 1em;
    margin:0;
}

.job p{
    display: block;
    margin:0 0 0.8em 0;
}

.login{
    width:30em;
    margin:0 auto;
    text-align: center;
}

.login div{
    margin-bottom:0.7em;
}

.login .logbtn{
    width:100%;
    margin-bottom:0.5em;
}

.login .logreg{
    font-size: 1em;
    padding:0.1em 1em;
    color:#28a745;
}

.login .logreg:hover{
    text-decoration: none;
    cursor:hand;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.profile ul{
    list-style: none;
    margin-top:1em;
}

.profile p{
    margin:0.5em 0 0 0;
    font-weight: bold;
}